[Unit]
Description=tcpdumpdns
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/tcpdumpdns.sh
WorkingDirectory=/root
Restart=always
User=root
Group=root
SyslogIdentifier=tcpdumpdns
StandardOutput=journal
StandardError=journal
RestartSec=3

[Install]
WantedBy=multi-user.target
